$border-radius : 5px;
$margin-top : 40px;
$margin-left-card : 22px;

$font-size-button : 20px;
$font-size-card : 14px;
$font-size-card-desc : 12px;
$font-size-info : 28px;


@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700&display=swap&subset=latin-ext');


$color-soft-gray : #e2e2e2;
$color-soft : #F6F6F4;
$color-gray : #666666;
$color-dark : #333333;
$color-orange : #f27a1a;
$color-disable-gray : #676767;

// Media Queries

$breakpoint-tablet : 768px;



// Admin

// Font Size
 $font-size-admin-sidebar : 24px;
